*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/discord.xml
.idea/vcs.xml
.idea/deploymentTargetDropDown.xml
.idea/kotlinc.xml

# user-specific settings
.idea/AndroidProjectSystem.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.edit.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/migrations.xml
.idea/runConfigurations.xml

# screenshots

# build logs and outputs
build.log
build_output.txt
/app/release/
